@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #2b2b2b;
  --font-onest: 'Onest', 'Arial';
  --font-nunito-sans: "Nunito Sans";
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-onest);
}

body {
  color:  var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans);
  height: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global Styles Starts Here*/

.font-onest {
  font-family: var(--font-onest);
  font-weight: bold;
}

.font-n-sans {
  font-family: var(--font-nunito-sans);
}


.global-mx {
  @apply mx-5 md:mx-7;
}

/* Global Styles Ends Here*/


/* Navbar Styles Starts Here*/

nav {
  position: fixed;
  width: 100%;
}

.nav__links li {
  padding-block: 1rem;
  margin: 2rem 0;
}

.nav__links li:hover {
  background-color: white;
  color: #4869BD;
}

.nav__container {
  transition: all ease-in-out .7s;
  position: fixed;
}

@media only screen and (max-height: 550px)  {
  .nav__container {
      overflow: scroll;
  } 
}

.nav__container--active {
  height: calc(100dvh - 88px); /*100dvh - navbar height*/
}

/* Navbar Styles Ends Here*/


/* Featured Posts Styles Starts Here*/

.slider__image {
  max-width: 24rem;
  margin: 0 .5rem;
}

.slider__image img {
  filter: brightness(.9);
  border-radius: .5rem;
  min-width: 24rem;
  height: auto;
  transition: all ease-in-out .7s;
}

.slider__image img:hover {
  transform: scale(1.1);
}

/* Featured Posts Styles Ends Here*/



/* Log In Styles Starts Here*/


/* Log In Styles Ends Here*/